body {
    background: rgba(0, 22, 68, 0.699);
}

h2 {
    font-family: "Comic Sans MS";
    font-size: 1.58em;
    margin: 0px;
    margin-bottom: 15px;
}

.container {
    background: white;
    width: 150px;
    margin: 30px auto;
    padding: 20px;
}

.content {
    margin-bottom: 5px;
}

div #calculations {
    width: 100%;
    font-family:Arial;
    font-size: 0.8em;
}

input {
    width: 50%;
    margin: 5px 0px;
}

p {
    display: inline;
}
